<%= form_for(mahjong) do |f| %>
  <% if mahjong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mahjong.errors.count, "error") %> prohibited this mahjong from being saved:</h2>

      <ul>
      <% mahjong.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
