<p id="notice"><%= notice %></p>

<h1>Mahjongs</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mahjongs.each do |mahjong| %>
      <tr>
        <td><%= mahjong.content %></td>
        <td><%= mahjong.user_id %></td>
        <td><%= link_to 'Show', mahjong %></td>
        <td><%= link_to 'Edit', edit_mahjong_path(mahjong) %></td>
        <td><%= link_to 'Destroy', mahjong, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mahjong', new_mahjong_path %>
