<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @mahjong.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @mahjong.user_id %>
</p>

<%= link_to 'Edit', edit_mahjong_path(@mahjong) %> |
<%= link_to 'Back', mahjongs_path %>
